<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
  <connectionStrings>
    <add name="RedisCache" connectionString="xxxxxxxx"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="sfAPIServiceBaseURI" value="http://xxxxxx/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    
    <add key="sfDocDBConnectionString" value="https://xxxxxxxxxxxx"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfServiceBusConnectionString" value="Endpoint=sb://xxxxxxxxxx"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageName" value="xxxxxx"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageKey" value="xxxxxx"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    

    <add key="sfLogLevel" value="Audit"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>   
    <sessionState>
      <providers>  
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider"
             host="xxxxxx"
             port="6380"
             accessKey="xxxxxx"
             ssl="true"
             throwOnError = "true"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      </providers>
    </sessionState>
  </system.web>
  -->
</configuration>
