<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
  <appSettings>
    <add key="sfServiceBusConnectionString" value="Endpoint=sb://xxxxxxxxxx"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfSuperAdminHeartbeatURL" value="http://xxxxxxxx/Monitor/RTMessageFeedIn"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="RTMessageFeedInURL" value="http://xxxxxxxxxx/Monitor/RTMessageFeedIn"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageName" value="xxxxxxxxx"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogStorageKey" value="xxxxxxxxxxxx"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="sfLogLevel" value="Debug"
    xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

  </appSettings>

  <connectionStrings>
    <add name="SFDatabaseEntities" connectionString="metadata=res://*/SFDatabaseEntities.csdl|res://*/SFDatabaseEntities.ssdl|res://*/SFDatabaseEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=xxxxxx.database.windows.net;initial catalog=xxxxxx;persist security info=True;user id=xxxxxx;password=xxxxxx;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  -->
</configuration>
